.title{
  text-align: center;
  font-family: Arial-Black;
  border-bottom: double;
  border-width: 6px;
}
.education{
  color: maroon;
}
.align-left{
  float: left;
}
.align-right{
  float: right;
  margin-right: 100px;
  overflow: auto;
}
.align-right-pic{
  float: right;
  margin: 20px;
}
.work{
  border-bottom: dotted;
  font-style: italic;
  margin-top: 20px;
}
.list{
  margin-top: 2px;
}
.school{
  border-bottom: dotted;
  font-weight: bold;
}
.content{
  padding: 0;
  margin: 0;
  line-height: 20px;
}
.content-large{
  font-size: 16px;
  font-type: comic sans ms;
  font-weight: bold;
  font-style: italic;
}
