.title{
  text-align: center;
  font-family: Arial-Black;
  border-bottom: double;
  border-width: 6px;
}
.education{
  color: maroon;
}
.contact{
  display: block;
  float: left;
}
.align-left{
  float: left;
}
.align-right{
  float: right;
}
.align-right-pic{
  float: right;
  margin-right: 2px;
}
.work{
  border-bottom: dotted;
  font-style: italic;
  margin-top: 20px;
}
.list{
  margin-top: 2px;
}
.school{
  border-bottom: dotted;
  font-weight: bold;
}
