.title{
  text-align: center;
  font-family: Arial-Black;
  border-bottom: double;
  border-width: 6px;
}
.education{
  color: maroon;
  background-image: url("https://roosevelt.mpls.k12.mn.us/uploads/u_of_m_logo_2.jpg");
  background-repeat: no-repeat;
}
.contact{
  display: block;
}
.align-left{
  float: left;
}
.align-right{
  float: right;
}
.work{
  border-bottom: dotted;
  font-style: italic;
  margin-top: 20px;
}
.list{
  margin-top: 2px;
}
.school{
  border-bottom: dotted;
  font-weight: bold;
}
